@{
   ViewData["Title"] = "Contact";
}

<h1>@ViewData["Title"]</h1>

Contact form details go here.<br />
<br />
Collect Name<br />
Phone<br />
Email<br />
Subject<br />
Body Message<br />
<br />
reCAPTCHA<br />
<br />
If all valid send email to support@CanTheSpam.com<br />