@{
    ViewData["Title"] = "Home Page";
}

      

 
    <img src="~/images/CanTheSpam.jpg" alt="Can The Spam Logo" class="mx-auto d-block" />   

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>

    <div class="text-center">
        Please select what type of email you with be entering.
    </div>

    <div class="row">
        <div class="col-md-6 text-center">
            <button type="button" class="btn btn-primary">Personal</button>
        </div>

        <div class="col-md-6 text-center">
            <button type="button" class="btn btn-primary" disabled>Business</button>
        </div>

    </div>

