@using Microsoft.Extensions.Options
@using reCAPTCHA.AspNetCore

@model CanTheSpam.Models.UserEmailDetails
@inject IOptions<RecaptchaSettings> RecaptchaSettings

@{
   ViewData["Title"] = "Home Page";
}

<div class="row">
   <div style="max-height: 200px;" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center text-sm-center text-md-center text-lg-center text-xl-center">
      <img id="CanTheSpamLogo" src="~/images/CanTheSpam.jpg" alt="Can The Spam Logo" title="Can The Spam" class="img-fluid" style="max-height: 160px; max-width: 160px;" />
   </div>
</div>
<div class="row">
   <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <p>Report Unwanted Email</p>
   </div>
   <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <p>Verify Your Registration</p>
   </div>
   <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <p>Register your Email Address</p>
   </div>
</div>
<div class="row">
   <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center text-sm-center text-md-center text-lg-center text-xl-center">
      <p style="font-size: x-large; font-weight: bolder;">The Do Not Email Registry gives you a chance to have your voice heard about whether to receive email solicitations!</p>
   </div>
</div>
<div class="row">
   <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 offset-4 offset-sm-4 offset-md-4 offset-lg-4 offset-xl-4">
      <div class="form-group">
         <form class="form-inline" asp-controller="Home" asp-action="EmailCapture" method="post">
            <label asp-for="Email" style="font-size: x-large; font-weight: bolder;" class="col-form-label">Email:&nbsp;&nbsp;</label>
            <input id="UserEmail" type="email" class="form-control" asp-for="Email" required placeholder="email@example.com" data-val-required="Invalid Email Address" data-val="true" />
            &nbsp;&nbsp;
            <input type="submit" id="btnSubmit" class="btn btn-primary" value="Submit" />
            @Html.Recaptcha(RecaptchaSettings.Value)
         </form>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <p>
         Cans the Spam is a grass roots effort to provide organizations, companies, and individuals a way to determine if the email address they have wishes not to receive
         email advertisements or unsolicited emails. This site is not affiliated with the government or any other agency.
      </p>
      <p>You can register your email address for free.</p>
      <p>After you register, other types of organizations may still email you, such as charities, political groups, debt collectors and surveys.</p>
      <p>
         If you received an unwanted email after registering here are a few things you can do.
         <ul>
            <li>Look for a link in the email to "unsubscribe" and use it to have yourself removed from their email list.</li>
            <li>Email customer support and ask them to use this service to validate email addresses.</li>
         </ul>
      </p>
   </div>
</div>
