@using CanTheSpam.Data.CanTheSpamRepository.Models
@model CanTheSpam.Models.UserEmailDetails

@{
    ViewData["Title"] = "Home Page";
}

<img src="~/images/CanTheSpam.jpg" alt="Can The Spam Logo" class="mx-auto d-block" />
<div class="text-center">
   <h1 class="display-4">Welcome</h1>
   <h2>Example from Database = @ViewData["EmailItem"]</h2>
</div>

<div class="text-center">
    Please select what type of email you with be entering.
</div>

<div class="row">
    <div class="col-md-6 text-center">
        <form asp-controller="Home" asp-action="ValidateEmail" method="post">
            <div class="form-group row">
                <label asp-for="Email" class="col-sm-2 col-form-label">Your Email</label>
                <div class="col-sm-12">
                    <input id="UserEmail" type="email" class="form-control" asp-for="Email" required placeholder="email@example.com" data-val-required="Invalid Email Address" data-val="true" />
                </div>
                <input type="submit" id="btnSubmit" class="btn btn-primary mb-2" value="Add Email to List" />
            </div>
        </form>
    </div>
</div>