@using System.Text
@using Microsoft.AspNetCore.Http
@model CanTheSpam.Models.ValidateUserEmail

@{
   ViewData["Title"] = "Validate Email";

   string emailAddress = string.Empty;
   string activeUrl = string.Empty;

   if (Context.Session.Keys.Contains("Email"))
   {
      byte[] emailBytes = Context.Session.Get("Email");
      emailAddress = Encoding.UTF8.GetString(emailBytes, 0, emailBytes.Length);
      activeUrl = $"{(Context.Request.IsHttps ? "https://" : "http://")}{Context.Request.Host}/Home/ResendEmail";
   }
}

<div class="row">
   <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h2>@ViewData["Title"]</h2>
      <p>
         An email was sent to the the following address <span style="font-size: x-large; font-weight: bolder;">@ViewData["Email"]</span>
         provided by you. You can click the link from the email or enter the code on this page.
         Once validated you will be directed to a Thank You page with additional helpful information.
         <button onclick="resendEmailMessage('@emailAddress')">Click Here to resend the email</button>
      </p>
   </div>
</div>
<div class="row">
   <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 offset-4 offset-sm-4 offset-md-4 offset-lg-4 offset-xl-4">
      <div class="form-group">
         <form class="form-inline" asp-controller="Home" asp-action="ValidateEmail" method="post">
            <label asp-for="Email" style="font-size: x-large; font-weight: bolder;" class="col-form-label">Email:&nbsp;&nbsp;</label>
            <input id="UserEmail" type="email" class="form-control" asp-for="Email" required placeholder="email@example.com" />
            &nbsp;&nbsp;
            <input type="submit" id="btnSubmit" class="btn btn-primary" value="Submit" />
         </form>
      </div>
   </div>
</div>

<script>
   function resendEmailMessage(email) {
      console.log(email);
      $.getJSON('@activeUrl/?e=' + email, function (json_data) {
         console.log(json_data);
      });
   }
</script>
